@font-face {
  font-family: 'MerriweatherRegular';
  src: url('../fonts/Merriweather-Regular.ttf');
}
 
.title { 
  font-family: 'MerriweatherRegular';
  letter-spacing: 0.010em;
  font-size: 60px;
  font-weight: normal;
  line-height: 72px;
  text-align: center;
  color: #fff;

  /* letter spacing */
  /*-webkit-font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;*/
 
} 
 

